name = "backend"
compatibility_date = "2023-12-01"



[vars]
DATABASE_URL= "paste_your_postgre_database_url"
JWT_SECRET = "Secret_key_signing_json_webtoken"



# [vars]
# MY_VAR = "my-variable"

# [[kv_namespaces]]
# binding = "MY_KV_NAMESPACE"
# id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# [[r2_buckets]]
# binding = "MY_BUCKET"
# bucket_name = "my-bucket"

# [[d1_databases]]
# binding = "DB"
# database_name = "my-database"
# database_id = ""
